html, body {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  border-right: solid;
  border-color: rgb(54, 60, 87);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#nav-header {
  background-color: #0074be;
  color: white;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#navbar li {
  width: 100%;
  border-bottom: solid;
  border-color: black;
}

.nav-link {
  list-style: none;
  width: 100%;
  text-decoration: none;
  padding: 30px;
}

#main-doc {
  margin-left: 23vw;
  padding-top: 1vh;
}