html, body {
  font-family: Helvetica, Arial, sans-serif;
}

#navbar {
  height: 100%;
  border-right: solid;
  border-color: rgb(54, 60, 87);
}

#nav-header {
  background-color: #0074be;
  color: white;
  text-align: center;
  padding: 10px;
}

.nav-link {
  list-style: none;
  border-bottom: solid;
  color: black;
  width: 100%;
}
